.container {
    position: relative;
    width: 100%;
  }

.image {
  width: 100%;
  filter:brightness(50%);
  display: block;
  height: auto;
}

.parallax {
  background-image: url('../assets/typing.gif');
  height: 100vh;  
  filter:brightness(50%);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  h1 {
    font: normal normal normal 24px/1.4em futura-lt-w01-light,sans-serif;
    color: #FFFFFF;
    letter-spacing: 0.35em;
  }
  h3 {
    font: normal normal bold 88px/1.4em playfairdisplay-bold,'playfair display',serif;
    color: #FFFFFF;
  }
}

.grayStyle {
  background:#edeeef;
}
.darkgrayStyle {
  background:#262626;
  color:white;
}
.darkdarkgrayStyle {
  background-color: #26262a;
  color:white;
}
h1 {
  color: #fff;
  font-family: "proxima-nova",proxima-nova;
  font-size: 72px;
  font-weight: 700;
  line-height: 1em;
  text-transform: uppercase;
}

div h1 {
  color: rgb(0, 0, 0);
  font-family: "proxima-nova",proxima-nova;
  font-size: 36px;
  font-weight: 700;
  line-height: 1em;
  text-transform: uppercase;
}
