h1 {
    font-family: adobe-garamond-pro;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    letter-spacing: 0em;
    line-height: 1em;
    text-transform: none;
}

h2 {
    font-family: proxima-nova;
    font-weight: 300;
    font-style: normal;
    font-size: 26px;
    letter-spacing: .01em;
    line-height: 1.4em;
    text-transform: none;
}
